@import "tailwindcss";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  --background: #ece9e2;
  --foreground: #5a8d92;
  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-mono: 'Courier New', monospace;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans)
  ;
}
